@page "/Ergebnisse"
@rendermode InteractiveServer
@using static DA
@using static Vote
@using ClosedXML.Excel
@using System.Data;
@inject IJSRuntime JS

<PageTitle>Ergebnisse</PageTitle>
<AuthView>
<h3>Ergebnisse</h3>

<form>
    <table>
        <tr>
            <th>Nr</th>
            <th>Titel</th>
            <th>Schüler</th>
            <th>Count</th>
        </tr>
            @foreach((DA, int count) da in voting)
            {
                <tr>
                    <th>@da.Item1.ID</th>
                    <th>@da.Item1.Titel</th>
                    <th>@da.Item1.Schueler</th>
                    <th>@da.Item2</th>
                </tr>
            }
    </table>
    <button class="btn btn-primary" @onclick="Btn_Download" disabled="@isWorking">
        @(isWorking ? "Erstelle Excel..." : "Excel herunterladen")</button>
</form>
</AuthView>

@code {
    List<(DA, int count)> voting = new();
    private bool isWorking = false; 

    protected override async Task OnInitializedAsync()
    {
        voting = Vote.ShowVotings(voting);
    }

    private async Task Btn_Download()
    {
        var bytes = Vote.CreateExcelFile(voting); 
        var fileName = $"{DateTime.Today.Year}_Ergebnisse_FriendsOfAward.xlsx";

        await JS.InvokeVoidAsync(
            "downloadFile",
            fileName,
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            bytes);
    }
}