@page "/Ergebnisse"
@rendermode InteractiveServer
@using static DA
@using ClosedXML.Excel
@using System.Data;
@inject IJSRuntime JS

<PageTitle>Ergebnisse</PageTitle>
<h3>Ergebnisse</h3>

<form>
    <table>
        <tr>
            <th>Nr</th>
            <th>Titel</th>
            <th>Schüler</th>
            <th>Count</th>
        </tr>
            @foreach((DA, int count) da in voting)
            {
                <tr>
                    <th>@da.Item1.ID</th>
                    <th>@da.Item1.Titel</th>
                    <th>@da.Item1.Schueler</th>
                    <th>@da.Item2</th>
                </tr>
            }
    </table>
    <button class="btn btn-primary" @onclick="Btn_Download" disabled="@isWorking">
        @(isWorking ? "Erstelle Excel..." : "Excel herunterladen")</button>
</form>

@code {
    List<(DA, int count)> voting = new();
    private bool isWorking = false; 

    protected override async Task OnInitializedAsync()
    {
        //Ergebnisse vom Voting speichern

        //ID | Titel | Schueler | Count
        DataTable da = DbWrapper.Wrapper.RunQuery("SELECT d.DaId, d.Titel, d.Schueler, COUNT(v.DaId) AS vote_count FROM DA AS d INNER JOIN Vote AS v ON d.DaId = v.DaId GROUP BY d.DaId, d.Titel, d.Schueler;");
        DA result;
        //Schleife für jede DA in Db, pro durchgang wird
        foreach (DataRow row in da.Rows)
        {
            result = new DA((int)row[0], (string)row[1], (string)row[2]);
            int count = Convert.ToInt32(row[3]);
            voting.Add((result, count));
        }
    }

    private byte[] CreateExcelFile()
    {
        XLWorkbook? workbook = new XLWorkbook();

        voting = voting
            .OrderByDescending(v => v.count)
            .ToList();

        // Referenz: https://www.youtube.com/watch?v=3DIKSjQMc5U
            IXLWorksheet worksheet = workbook.Worksheets.Add("FoA_Ergebnisse");
            worksheet.Cell("A1").Value = "Nr";
            worksheet.Cell("B1").Value = "Titel";
            worksheet.Cell("C1").Value = "Schüler";
            worksheet.Cell("D1").Value = "Count";

            int nr = 2; 
            foreach((DA, int) v in voting)
            {
                worksheet.Row(nr).Cell("A").Value = v.Item1.ID;
                worksheet.Row(nr).Cell("B").Value = v.Item1.Titel;
                worksheet.Row(nr).Cell("C").Value = v.Item1.Schueler;
                worksheet.Row(nr).Cell("D").Value = v.Item2;
                nr++; 
            }

            IXLRange? range = worksheet.Range($"A1:D{voting.Count+1}"); 
            IXLTable table = range.CreateTable(); 
            table.Theme = XLTableTheme.TableStyleLight10; 

            worksheet.Cell($"A{voting.Count + 1}").Value = "Total Votes: ";
            worksheet.Cell($"D{voting.Count + 1}").FormulaA1 = $"SUM(D2:D{voting.Count + 1})"; 

            worksheet.Row(voting.Count + 1).Style.Font.Bold = true; 

            using var stream = new MemoryStream();
            workbook.SaveAs(stream);
            return stream.ToArray();
    }

    private async Task Btn_Download()
    {
        var bytes = CreateExcelFile();
        var fileName = $"{DateTime.Today.Year}_Ergebnisse_FriendsOfAward.xlsx";

        await JS.InvokeVoidAsync(
            "downloadFile",
            fileName,
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            bytes);
    }
}