@page "/"
@using FriendsOfAward.Components.Layout
@using FriendsOfAward.Components.UI.Components;
@layout UserLayout
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<div id="blur-ball"></div>
<div id="wrapper">
<main id="content">
		<span id="title">Friends of Award</span>
		<div id="note">
			<b>
				Geben Sie uns Ihre persönlichen Favoriten bekannt!<br />
				@* Einmal klicken = Favorit (max. 5)<br />
				Nochmal klicken = Topfavorit (max. 1)<br /> *@
			</b>
			Diese Abstimmung ist anonym und auf ein Gerät beschränkt.<br />
		</div>
		<div id="grid">
            @for (int i = 0; i < dips.Count; i++)
			{
                int currentIndex = i;
                <div title="@dips[i].Name" class="grid-btn @(dips[i].State)" @onclick="() => Btn_SetFavourite(currentIndex)">
                    @(i + 1)
                </div>
			}
		</div>
        <div id="select-btn-container">
            <button class="select-btn @(selectFavs ? "highlight" : "")" @onclick="() => selectFavs = true">
                Favoriten wählen (@GetFavoriteCount()/5)
            </button>
            <button class="select-btn @(selectFavs ? "" : "highlight")" @onclick="() => selectFavs = false">
                Topfavorit wählen (@GetTopfavoriteCount()/1)
            </button>
        </div>
            @if (selectFavs) {
                <div id="note">Wähle Favoriten aus!</div>
            }
            else
            {
                <div id="note">Wähle einen Topfavoriten aus!</div>
            }
            @if (favError) {
                <div id="note" style="color: #ff5858">
                    5 von 5 Favoriten ausgewählt.
                </div>
            }
		<button id="submit-btn" @onclick="Btn_Submit">Bewertung absenden</button>
	</main>
</div>

<Modal @ref="modal">
    <p>Some text in the Modal..</p>
</Modal>

@code {
    List<Dip> dips = [];
    bool selectFavs = true;
    bool favError = false;
    private Modal modal;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 20; i++)
        {
            Dip dip = new("This is the name " + Random.Shared.Next(0, 100).ToString());
            dips.Add(dip);
        }
    }

    void Btn_SetFavourite(int index)
    {
        favError = false;
        if (selectFavs)
        {
            if (dips[index].State == "favorite")
            {
                dips[index].State = "";
            }
            else if (dips[index].State != "topfavorite")
            {
                if (GetFavoriteCount() < 5)
                {
                    dips[index].State = "favorite";
                }
                else
                {
                    favError = true;
                }
            }
        }
        else
        {
            if (dips[index].State == "topfavorite")
            {
                dips[index].State = "";
            }
            else
            {
                foreach (Dip d in dips)
                {
                    if (d.State == "topfavorite")
                    {
                        d.State = "";
                        break;
                    }
                }
                dips[index].State = "topfavorite";
            }
        }
    }

    int GetFavoriteCount()
    {
        return dips.FindAll(d => d.State == "favorite").Count;
    }

    int GetTopfavoriteCount()
    {
        return dips.FindAll(d => d.State == "topfavorite").Count;
    }

    private async Task Btn_Submit()
    {
        modal.Open();


        List<Dip> favoriteList = dips.FindAll(d => d.State == "favorite");
        List<Dip> topfavorite = dips.FindAll(d => d.State == "topfavorite");


        //string conformationDialog;

        

    }

    class Dip
    {
        public string Name { get; }
        public string State { get; set; }

        public Dip(string name)
        {
            Name = name;
            State = "";
        }
    }

}